# {{ ansible_managed }}
127.0.0.1       localhost

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost   ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

127.0.1.1       {{ ansible_hostname }} {{ ansible_hostname }}

130.255.76.32	web1.my
130.255.77.61	web2.my
149.205.4.28	web1.hsm
