# {{ ansible_managed }}

ForwardAgent yes

Host *.my
  User plumps
  # personal infrastructure
  IdentityFile ~/.ssh/my

Host *.hsm
  User plumps
  # HSM infrastructure
  IdentityFile ~/.ssh/hsm
  ProxyCommand ssh bastion -W %h:%p

Host bastion
  HostName web1.my
  Port 22022
  User plumps

Host github.com
  User git
  IdentityFile ~/.ssh/github
